// .App-logo {
//     pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//         animation: App-logo-spin infinite 20s linear;
//     }
// }

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// } 

.images-knowledges {
    width: 60px !important;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    // height: 60px;
    border-radius: 100%;
    background: white;
}